cmake-build-debug/ibrae2

# Compiled objects and modules
*.a
*.o
*.mod
*.log
*.out
*.user
*.txt.user
*.ods#

# Source build
#
__pycache__
./api/__pycache__
build
temp
CMakeFiles
.idea
cmake-build-debug
